*.iso
*.iso.sha256sum
*.iso.sha256sum.asc
*.contents
*.hybrid.iso.zsync
*.packages
*.files
*.packages.install
*.packages.live
cache/
chroot/
binary/
.build/
local/
repokeys.gpg
repokeys.gpg~
keyrings/repokeys.gpg
keyrings/repokeys.gpg~
log
err
*log
*err
*log*
*err*
paths.sh
